<launch>
<!-- This launch operates the drone which use lidar odometry -->

<arg name = "base_link_fusion" default="base_link_fusion"/>
<arg name = "obstMinX" value = "0"/>
<arg name = "obstMaxX" value = "13"/>
<arg name = "obstMinY" value = "-4"/>
<arg name = "obstMaxY" value = "4"/>

<arg name="binning_on" default="false"/>
<arg name="software_binning_on" default="true"/>
<arg name="software_binning_level" default="1"/>
<arg name="triggered_on" default="true"/>
<arg name="auto_exposure_control" default="false"/>
<arg name="auto_gain_control" default="false"/>
<arg name="high_dynamic_range_on" default="true"/>
<arg name="expose_us" default="15000"/>
<arg name="frame_rate" default="10.0"/>

    <node pkg="tf" type="static_transform_publisher" name="mapAlighn" args="0 0 0  0 0 0 /map /map_wall_align     1"/>

    <!-- tf fusion from EKF2 with lego loam  -->
    <node pkg = "px4_code" type = "poseStamped2tf_node" name="fused_tf" >
        <param name= "map_frame" value = "/map"/>
        <param name= "base_frame" value = "$(arg base_link_fusion)"/>
        <param name ="input_pose_topic" value="/mavros/local_position/pose"/>
    </node>


   <node pkg="bluefox" name="bluefox_multiple_camlidar_node" type="bluefox_multiple_camlidar_node" output="screen">
        <param name="binning_on" type="bool" value="$(arg binning_on)"/>
        <param name="software_binning_on" type="bool" value="$(arg software_binning_on)"/>
        <param name="software_binning_level" type="int" value="$(arg software_binning_level)"/>
        <param name="triggered_on" type="bool" value="$(arg triggered_on)"/>
        <param name="aec_on" type="bool" value="$(arg auto_exposure_control)"/>
        <param name="agc_on" type="bool" value="$(arg auto_gain_control)"/>
        <param name="hdr_on" type="bool" value="$(arg high_dynamic_range_on)"/>
      	<param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="frame_rate" type="double" value="$(arg frame_rate)"/>
    </node>



   <node pkg="rosserial_python" type="serial_node.py" name="arduino_UART" args="_port:=/dev/ttyACM0 _baud:=460800" output="screen">
    </node>

    <!-- camlidar with hsv -->
    <node pkg = "camlidar_module" type = "hsv_target_pcl_extractor" name="target_hsv_extractor" >
        <param name= "map_frame" value = "/map"/>
        <param name= "baselink_id" value = "$(arg base_link_fusion)"/>
        <param name="parameter_directory" type="string" value="$(find camlidar_module)/params/bluefox_vlp16_BS2.yaml"/>

        <param name = "H_max" value = "45" />
        <param name = "H_min" value = "0" />

        <param name = "S_max" value = "118" />
        <param name = "S_min" value = "39" />

        <param name = "V_max" value = "196" />
        <param name = "V_min" value = "53" />

    </node>


<include file = "$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/ttyACM1:57600" />
</include>

<include file = "$(find lego_loam)/launch/run.launch">
    <arg name = "is_bag" value = "false"/>
</include>

<node name="mav_wrapper_node" pkg="px4_code" type="mav_wrapper_node" output="screen">
    <param name = "external_pose_topic" value = "/mapOptmization/loam_jbs_pose"/>
    <param name="world_frame_id" value="/map"/>
</node>





</launch>
