<launch>
<!-- This launch operates the drone which use lidar odometry -->


<include file = "$(find camlidar_module)/launch/camlidar_sync.launch"/>

<include file = "$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/ttyACM1:57600" />
</include>

<include file = "$(find lego_loam)/launch/run.launch">
    <arg name = "is_bag" value = "false"/>
</include>

<node name="mav_wrapper_node" pkg="px4_code" type="mav_wrapper_node" output="screen">
    <param name = "external_pose_topic" value = "/mapOptmization/loam_jbs_pose"/>
    <param name="world_frame_id" value="/map"/>
</node>

<node name="mav_gcs_node" pkg="px4_code" type="mav_gcs_node">
       <arg name="planner_node_name" value="/planner_client"/>
</node>



</launch>