<launch>
<!-- This launch operates the drone which use lidar odometry -->

<arg name = "base_link_fusion" value = "base_link_fusion"/>
<group ns = "lidar0">
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" value="192.168.2.101" />
    <arg name="port" value="2367" />
    <arg name="rpm" value="600" /> <!--1200? see the NUC of drone -->
    <arg name="gps_time" value="true" />
  </include>
</group>

<include file = "$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/ttyACM1:57600" />
</include>

<include file = "$(find lego_loam)/launch/run.launch">
    <arg name = "is_bag" value = "false"/>
</include>

<node name="mav_wrapper_node" pkg="px4_code" type="mav_wrapper_node" output="screen">
    <param name = "external_pose_topic" value = "/mapOptmization/loam_jbs_pose"/>
    <param name="world_frame_id" value="/map"/>
</node>

<!-- tf fusion from EKF2 with lego loam  -->
<node pkg = "px4_code" type = "poseStamped2tf_node" name="fused_tf" >
    <param name= "map_frame" value = "/map"/>
    <param name= "base_frame" value = " $(arg base_link_fusion)"/>
    <param name ="input_pose_topic" value="/mavros/local_position/pose"/>
</node>

</launch>