<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!-- <include file = "$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="false"/> 
        <arg name="world_name" value="$(find px4)/Tools/sitl_gazebo/worlds/iris.world"/> 
    </include> -->
<node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/jbs/Desktop/usb_backup/flight/4floor_L_shape_flight.bag"/>
<node pkg="tf" type="static_transform_publisher" name="tf_mapper_mav" args="0 0 0  0  0  0 map world 100" />

<node pkg="px4_code" type="poseStamped2tf_node" name="pose2tf" output="screen">
    <param name="mav_frame" value="/map"/>
    <param name="base_frame" value="/zed_left_camera_frame"/>
    <param name="input_pose_topic" value="/mavros/vision_pose/pose"/>
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find px4_code)/rviz/logger.rviz">
</node>

</launch>
