<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!-- <include file = "$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="false"/> 
        <arg name="world_name" value="$(find px4)/Tools/sitl_gazebo/worlds/iris.world"/> 
    </include> -->

<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0 1 world map 50" />

    <!--mav gcs-->
    <node name="mav_gcs_node" pkg="px4_code" type="mav_gcs_node">
        <param name="planner_node_name" value="/planner_client"/>         
    </node>

    <!--traj gen-->
    <node name="traj_gen_ui" pkg="traj_gen" type="traj_gen_client" output= "screen">
        <remap from="/traj_gen_ui/control_pose" to="/mav_wrapper/setpoint_planning"/>
		<param name = "spline_save_dir" value = "/home/jbs/target_prior_2floor.txt"/>
    </node>

</launch>
