<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!--mav wrapper-->
    <node name="mav_wrapper_node" pkg="px4_code" type="mav_wrapper_node" output="screen">   
              
        <param name="mav_frame_id" value="/vicon/mav_felipe/mav_felipe"/>
        <param name="world_frame_id" value="/world"/>
        <param name="external_pose_topic" value="/zed/pose"/>

        <param name="pose_on" value="true"/>
           
    </node>
</launch>

