<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--px4 firmware in SITL-->
<!--
<include file = "$(find px4)/launch/posix_sitl.launch">
    <arg name="gui" value="false"/> 
</include>
-->

<arg name = "world_name" default = "map3"/>
<arg name="world_file" default="$(find px4_code)/worlds/$(arg world_name)_iris_fpv_cam.world"/> 
<arg name="target_name" default="target"/>
<arg name="spawn_target" default = "false"/>
<arg name="display" default = "true"/>


<include file = "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="false"/> 
	<!--ros plugins should be disabled! for world file -->
	<arg name="world_name" value="$(arg world_file)"/> 
	<arg name="verbose" value="true"/> 
</include>

<!--mavlink-->
<arg name="tgt_system" default="1" />
<arg name="tgt_component" default="1" />

<include file = "$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/> 
</include>

<!--gazebo2rviz-->
<include file = "$(find gazebo2rviz)/launch/gazebo2rviz.launch">
</include>


   

<node if ="$(arg display)" name="rviz" pkg="rviz" type="rviz" args="-d $(find px4_code)/rviz/rviz_sitl.rviz"/>

</launch>
